@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

dfn{
	font-style: italic;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

#chapter-1 > h2 + p{
	text-align: right;
}

#note-32 > div{
	text-align: center;
}

@supports(writing-mode: vertical-rl){
	#note-32 > div > div:nth-child(2) > span:nth-child(2){
		font-weight: bold;
		writing-mode: vertical-rl;
	}
}

@supports(display: grid){
	#note-32 > div > div:nth-child(2){
		display: grid;
		grid-column-gap: 1em;
		grid-template-columns: auto 25% max-content 25% auto;
		grid-template-rows: auto auto auto;
	}

	#note-32 > div > div:nth-child(2) > span:nth-child(1){
		grid-column: 2;
		text-align: right;
	}

	#note-32 > div > div:nth-child(2) > span:nth-child(2){
		grid-column: 3;
	}

	#note-32 > div > div:nth-child(2) > span:nth-child(3){
		grid-column: 4;
		text-align: initial;
	}
}

blockquote[xml|lang]{
	font-style: italic;
}
